In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv(r'/content/countries of the world.csv')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [ ]:
# df= pd.read_csv(r'/content/countries of the world.txt',sep = '\t') #sep = seperated
# df

#kalau pake .read_table gausah pake sep lagi
df= pd.read_table(r'/content/countries of the world.txt') #sep = seperated
df

                               Country                               Region
0                         Afghanistan         ASIA (EX. NEAR EAST)
1                             Albania   EASTERN EUROPE
2                             Algeria   NORTHERN AFRICA
3                      American Samoa   OCEANIA
4                             Andorra   WESTERN EUROPE
5                              Angola   SUB-SAHARAN AFRICA
6                            Anguilla               LATIN AMER. & CARIB
7                   Antigua & Barbuda               LATIN AMER. & CARIB
8                           Argentina               LATIN AMER. & CARIB
9                             Armenia                  C.W. OF IND. STATES
10                              Aruba               LATIN AMER. & CARIB
11                          Australia   OCEANIA
12                            Austria   WESTERN EUROPE
13                         Azerbaijan                  C.W. OF IND. STATES
14                       Bahamas, The               LATIN AMER. & CARIB
15                            Bahrain   NEAR EAST
16                         Bangladesh         ASIA (EX. NEAR EAST)
17                           Barbados               LATIN AMER. & CARIB
18                            Belarus                  C.W. OF IND. STATES
19                            Belgium   WESTERN EUROPE
20                             Belize               LATIN AMER. & CARIB
21                              Benin   SUB-SAHARAN AFRICA
22                            Bermuda   NORTHERN AMERICA
23                             Bhutan         ASIA (EX. NEAR EAST)
24                            Bolivia               LATIN AMER. & CARIB
25               Bosnia & Herzegovina   EASTERN EUROPE
26                           Botswana   SUB-SAHARAN AFRICA
27                             Brazil               LATIN AMER. & CARIB
28                 British Virgin Is.               LATIN AMER. & CARIB
29                             Brunei         ASIA (EX. NEAR EAST)
30                           Bulgaria   EASTERN EUROPE
31                       Burkina Faso   SUB-SAHARAN AFRICA
32                              Burma         ASIA (EX. NEAR EAST)
33                            Burundi   SUB-SAHARAN AFRICA
34                           Cambodia         ASIA (EX. NEAR EAST)
35                           Cameroon   SUB-SAHARAN AFRICA
36                             Canada   NORTHERN AMERICA
37                         Cape Verde   SUB-SAHARAN AFRICA
38                     Cayman Islands               LATIN AMER. & CARIB
39               Central African Rep.   SUB-SAHARAN AFRICA
40                               Chad   SUB-SAHARAN AFRICA
41                              Chile               LATIN AMER. & CARIB
42                              China         ASIA (EX. NEAR EAST)
43                           Colombia               LATIN AMER. & CARIB
44                            Comoros   SUB-SAHARAN AFRICA
45                   Congo, Dem. Rep.   SUB-SAHARAN AFRICA
46               Congo, Repub. of the   SUB-SAHARAN AFRICA
47                       Cook Islands   OCEANIA
48                         Costa Rica               LATIN AMER. & CARIB
49                      Cote d'Ivoire   SUB-SAHARAN AFRICA
50                            Croatia   EASTERN EUROPE
51                               Cuba               LATIN AMER. & CARIB
52                             Cyprus   NEAR EAST
53                     Czech Republic   EASTERN EUROPE
54                            Denmark   WESTERN EUROPE
55                           Djibouti   SUB-SAHARAN AFRICA
56                           Dominica               LATIN AMER. & CARIB
57                 Dominican Republic               LATIN AMER. & CARIB
58                         East Timor         ASIA (EX. NEAR EAST)
59                            Ecuador               LATIN AMER. & CARIB
60                              Egypt   NORTHERN AFRICA
61                        El Salvador               LATIN AMER. & CARIB
62                  Equatorial Guinea   SUB-SAHARAN AFRICA
63                            Eritrea   SUB-SAHARAN AFRICA
64                            Estonia   BALTICS
65                           Ethiopia   SUB-SAHARAN AFRICA
66                      Faroe Islands   WESTERN EUROPE
67                               Fiji   OCEANIA
68                            Finland   WESTERN EUROPE
69                             France   WESTERN EUROPE
70                      French Guiana               LATIN AMER. & CARIB
71                   French Polynesia   OCEANIA
72                              Gabon   SUB-SAHARAN AFRICA
73                        Gambia, The   SUB-SAHARAN AFRICA
74                         Gaza Strip   NEAR EAST
75                            Georgia                  C.W. OF IND. STATES
76                            Germany   WESTERN EUROPE
77                              Ghana   SUB-SAHARAN AFRICA
78                          Gibraltar   WESTERN EUROPE
79                             Greece   WESTERN EUROPE
80                          Greenland   NORTHERN AMERICA
81                            Grenada               LATIN AMER. & CARIB
82                         Guadeloupe               LATIN AMER. & CARIB
83                               Guam   OCEANIA
84                          Guatemala               LATIN AMER. & CARIB
85                           Guernsey   WESTERN EUROPE
86                             Guinea   SUB-SAHARAN AFRICA
87                      Guinea-Bissau   SUB-SAHARAN AFRICA
88                             Guyana               LATIN AMER. & CARIB
89                              Haiti               LATIN AMER. & CARIB
90                           Honduras               LATIN AMER. & CARIB
91                          Hong Kong         ASIA (EX. NEAR EAST)
92                            Hungary   EASTERN EUROPE
93                            Iceland   WESTERN EUROPE
94                              India         ASIA (EX. NEAR EAST)
95                          Indonesia         ASIA (EX. NEAR EAST)
96                               Iran         ASIA (EX. NEAR EAST)
97                               Iraq   NEAR EAST
98                            Ireland   WESTERN EUROPE
99                        Isle of Man   WESTERN EUROPE
100                            Israel   NEAR EAST
101                             Italy   WESTERN EUROPE
102                           Jamaica               LATIN AMER. & CARIB
103                             Japan         ASIA (EX. NEAR EAST)
104                            Jersey   WESTERN EUROPE
105                            Jordan   NEAR EAST
106                        Kazakhstan                  C.W. OF IND. STATES
107                             Kenya   SUB-SAHARAN AFRICA
108                          Kiribati   OCEANIA
109                      Korea, North         ASIA (EX. NEAR EAST)
110                      Korea, South         ASIA (EX. NEAR EAST)
111                            Kuwait   NEAR EAST
112                        Kyrgyzstan                  C.W. OF IND. STATES
113                              Laos         ASIA (EX. NEAR EAST)
114                            Latvia   BALTICS
115                           Lebanon   NEAR EAST
116                           Lesotho   SUB-SAHARAN AFRICA
117                           Liberia   SUB-SAHARAN AFRICA
118                             Libya   NORTHERN AFRICA
119                     Liechtenstein   WESTERN EUROPE
120                         Lithuania   BALTICS
121                        Luxembourg   WESTERN EUROPE
122                             Macau         ASIA (EX. NEAR EAST)
123                         Macedonia   EASTERN EUROPE
124                        Madagascar   SUB-SAHARAN AFRICA
125                            Malawi   SUB-SAHARAN AFRICA
126                          Malaysia         ASIA (EX. NEAR EAST)
127                          Maldives         ASIA (EX. NEAR EAST)
128                              Mali   SUB-SAHARAN AFRICA
129                             Malta   WESTERN EUROPE
130                  Marshall Islands   OCEANIA
131                        Martinique               LATIN AMER. & CARIB
132                        Mauritania   SUB-SAHARAN AFRICA
133                         Mauritius   SUB-SAHARAN AFRICA
134                           Mayotte   SUB-SAHARAN AFRICA
135                            Mexico               LATIN AMER. & CARIB
136              Micronesia, Fed. St.   OCEANIA
137                           Moldova                  C.W. OF IND. STATES
138                            Monaco   WESTERN EUROPE
139                          Mongolia         ASIA (EX. NEAR EAST)
140                        Montserrat               LATIN AMER. & CARIB
141                           Morocco   NORTHERN AFRICA
142                        Mozambique   SUB-SAHARAN AFRICA
143                           Namibia   SUB-SAHARAN AFRICA
144                             Nauru   OCEANIA
145                             Nepal         ASIA (EX. NEAR EAST)
146                       Netherlands   WESTERN EUROPE
147              Netherlands Antilles               LATIN AMER. & CARIB
148                     New Caledonia   OCEANIA
149                       New Zealand   OCEANIA
150                         Nicaragua               LATIN AMER. & CARIB
151                             Niger   SUB-SAHARAN AFRICA
152                           Nigeria   SUB-SAHARAN AFRICA
153                N. Mariana Islands   OCEANIA
154                            Norway   WESTERN EUROPE
155                              Oman   NEAR EAST
156                          Pakistan         ASIA (EX. NEAR EAST)
157                             Palau   OCEANIA
158                            Panama               LATIN AMER. & CARIB
159                  Papua New Guinea   OCEANIA
160                          Paraguay               LATIN AMER. & CARIB
161                              Peru               LATIN AMER. & CARIB
162                       Philippines         ASIA (EX. NEAR EAST)
163                            Poland   EASTERN EUROPE
164                          Portugal   WESTERN EUROPE
165                       Puerto Rico               LATIN AMER. & CARIB
166                             Qatar   NEAR EAST
167                           Reunion   SUB-SAHARAN AFRICA
168                           Romania   EASTERN EUROPE
169                            Russia                  C.W. OF IND. STATES
170                            Rwanda   SUB-SAHARAN AFRICA
171                      Saint Helena   SUB-SAHARAN AFRICA
172               Saint Kitts & Nevis               LATIN AMER. & CARIB
173                       Saint Lucia               LATIN AMER. & CARIB
174              St Pierre & Miquelon   NORTHERN AMERICA
175  Saint Vincent and the Grenadines               LATIN AMER. & CARIB
176                             Samoa   OCEANIA
177                        San Marino   WESTERN EUROPE
178               Sao Tome & Principe   SUB-SAHARAN AFRICA
179                      Saudi Arabia   NEAR EAST
180                           Senegal   SUB-SAHARAN AFRICA
181                            Serbia   EASTERN EUROPE
182                        Seychelles   SUB-SAHARAN AFRICA
183                      Sierra Leone   SUB-SAHARAN AFRICA
184                         Singapore         ASIA (EX. NEAR EAST)
185                          Slovakia   EASTERN EUROPE
186                          Slovenia   EASTERN EUROPE
187                   Solomon Islands   OCEANIA
188                           Somalia   SUB-SAHARAN AFRICA
189                      South Africa   SUB-SAHARAN AFRICA
190                             Spain   WESTERN EUROPE
191                         Sri Lanka         ASIA (EX. NEAR EAST)
192                             Sudan   SUB-SAHARAN AFRICA
193                          Suriname               LATIN AMER. & CARIB
194                         Swaziland   SUB-SAHARAN AFRICA
195                            Sweden   WESTERN EUROPE
196                       Switzerland   WESTERN EUROPE
197                             Syria   NEAR EAST
198                            Taiwan         ASIA (EX. NEAR EAST)
199                        Tajikistan                  C.W. OF IND. STATES
200                          Tanzania   SUB-SAHARAN AFRICA
201                          Thailand         ASIA (EX. NEAR EAST)
202                              Togo   SUB-SAHARAN AFRICA
203                             Tonga   OCEANIA
204                 Trinidad & Tobago               LATIN AMER. & CARIB
205                           Tunisia   NORTHERN AFRICA
206                            Turkey   NEAR EAST
207                      Turkmenistan                  C.W. OF IND. STATES
208                 Turks & Caicos Is               LATIN AMER. & CARIB
209                            Tuvalu   OCEANIA
210                            Uganda   SUB-SAHARAN AFRICA
211                           Ukraine                  C.W. OF IND. STATES
212              United Arab Emirates   NEAR EAST
213                    United Kingdom   WESTERN EUROPE
214                     United States   NORTHERN AMERICA
215                           Uruguay               LATIN AMER. & CARIB
216                        Uzbekistan                  C.W. OF IND. STATES
217                           Vanuatu   OCEANIA
218                         Venezuela               LATIN AMER. & CARIB
219                           Vietnam         ASIA (EX. NEAR EAST)
220                    Virgin Islands               LATIN AMER. & CARIB
221                 Wallis and Futuna   OCEANIA
222                         West Bank   NEAR EAST
223                    Western Sahara   NORTHERN AFRICA
224                             Yemen   NEAR EAST
225                            Zambia   SUB-SAHARAN AFRICA
226                          Zimbabwe   SUB-SAHARAN AFRICA

In [ ]:
df= pd.read_json(r'/content/json_sample.json') #sep = seperated
df

,12 Strong,A Fantastic Woman (Una Mujer FantÃ¡stica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,Forever My Girl,Golden Exits,Hostiles,"I, Tonya",Insidious: The Last Key,Jumanji: Welcome To The Jungle,Mary And The Witch'S Flower,Maze Runner: The Death Cure,Molly'S Game,Paddington 2,Padmaavat,Permission,Peter Rabbit,Phantom Thread,Pitch Perfect 3,Proud Mary,Sanpo Suru Shinryakusha,Star Wars: The Last Jedi,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'Genre': 'Adventure', 'Gross': '$548,886', 'I...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'popcornscore': 51, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$760,867', 'IMDB...","{'popcornscore': 78, 'rating': 'PG', 'tomatosc...","{'Genre': 'Action', 'Gross': '$720,463', 'IMDB...","{'popcornscore': 85, 'rating': 'R', 'tomatosco...","{'Genre': 'Animation', 'Gross': '$184,414', 'I...","{'popcornscore': 62, 'rating': 'NR', 'tomatosc...","{'Genre': 'Comedy', 'Gross': 'unknown', 'IMDB ...","{'Genre': 'Animation', 'Gross': 'unknown', 'IM...","{'popcornscore': 68, 'rating': 'R', 'tomatosco...","{'popcornscore': 52, 'rating': 'PG13', 'tomato...","{'popcornscore': 56, 'rating': 'R', 'tomatosco...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [ ]:
df2 = pd.read_excel('/content/world_population_excel_workbook.xlsx',sheet_name='Sheet1')
df2

     Rank CCA3            Country           Capital
0      36  AFG        Afghanistan             Kabul
1     138  ALB            Albania            Tirana
2      34  DZA            Algeria           Algiers
3     213  ASM     American Samoa         Pago Pago
4     203  AND            Andorra  Andorra la Vella
..    ...  ...                ...               ...
229   226  WLF  Wallis and Futuna          Mata-Utu
230   172  ESH     Western Sahara         El AaiÃƒÂºn
231    46  YEM              Yemen             Sanaa
232    63  ZMB             Zambia            Lusaka
233    74  ZWE           Zimbabwe            Harare

[234 rows x 4 columns]

In [ ]:
# See all the rows
pd.set_option('display.max.rows',200)

#See all the columns
pd.set_option('display.max.columns',40)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     234 non-null    int64
 1   CCA3     234 non-null    object
 2   Country  234 non-null    object
 3   Capital  234 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.4+ KB

In [ ]:
#To know how many rows and columns there are
df2.shape

(234, 4)

In [ ]:
#First 10 rows
df2.head(10)

   Rank CCA3              Country           Capital
0    36  AFG          Afghanistan             Kabul
1   138  ALB              Albania            Tirana
2    34  DZA              Algeria           Algiers
3   213  ASM       American Samoa         Pago Pago
4   203  AND              Andorra  Andorra la Vella
5    42  AGO               Angola            Luanda
6   224  AIA             Anguilla        The Valley
7   201  ATG  Antigua and Barbuda    Saint JohnÃ¢â‚¬â„¢s
8    33  ARG            Argentina      Buenos Aires
9   140  ARM              Armenia           Yerevan

In [ ]:
#last 5 rows
df2.tail()

     Rank CCA3            Country    Capital
229   226  WLF  Wallis and Futuna   Mata-Utu
230   172  ESH     Western Sahara  El AaiÃƒÂºn
231    46  YEM              Yemen      Sanaa
232    63  ZMB             Zambia     Lusaka
233    74  ZWE           Zimbabwe     Harare

In [ ]:
#Looking for spesific column only
df2['Country']

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
229    Wallis and Futuna
230       Western Sahara
231                Yemen
232               Zambia
233             Zimbabwe
Name: Country, Length: 234, dtype: object

In [ ]:
#df.loc is for looking spesific value from index
df2.loc[229]

Rank                     226
CCA3                     WLF
Country    Wallis and Futuna
Capital             Mata-Utu
Name: 229, dtype: object

In [ ]:
df2.iloc[224]

Rank               43
CCA3              UZB
Country    Uzbekistan
Capital      Tashkent
Name: 224, dtype: object